<div><%= link_to '<< Back to All Items', items_path, class: "back-link" %></div>

<% if notice %>
  <div class="alert alert-primary">
    <p><%= notice %></p>
  </div>
<% end %>

<h1>
  <%= @item.title %>
</h1>
<div>
  <%= image_tag @item.image_url %>
</div>
<div>
  <%= @item.artist %>
</div>
<div>
  <p>
    <%= @item.description %>
  </p>

  <p>
    Starting Bid:
    <%= number_to_currency(@item.starting_bid) %>
  </p>

  <h3>Highest bid</h3>
  <div>
    $<%= text_field_tag nil, @item.highest_bid_amount, disabled: true %>
  </div>

  <%= form_for @bid do |f| %>
    <h3>Your Bid</h3>
    <%= f.hidden_field :item_id %>
    $<%= f.text_field :amount %></div>
    <%= f.submit "Submit Bid!", class: "btn btn-primary btn-small" %>
  <% end %>
</div>
